body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border: 2px solid yellow;
    box-shadow: 2px 2px 4px black;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: purple;
    color: yellow;
    border-bottom: 6px solid black;
    text-shadow: 2px 2px 4px black;
    
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover{
    background: yellow;
    color: purple;
    border-bottom: 6px solid white;
    text-shadow: 2px 2px 4px white;
    border: 2px solid purple;
    box-shadow: 2px 2px 4px black;
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

